@use 'colors';

.articles {
  display: grid;
  width: 70vw;
  margin: auto;
}

.article {
  border-radius: 3em;
  background-color: colors.$main1;
  margin: 1em 0;
  padding: 1em;
}

.article::before {
  position: absolute;
  box-shadow: 0 0 8px 8px colors.$main2 inset;
}

.article_username {
}

.article_content_editable {
  background-color: white;
}

.article_btn {
  font-size: 1.5em;
  color: white;
  padding: 5px;
  margin: 5px;
  border: none;
  background-color: colors.$main2;
}

.article_btn_green {
  background-color: #0a730a;
}
[class^="article_content"] {
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  resize: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 1em 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.article_content_editable {
  background-color: white;
}
.categcontainer {
  width: 100%;
  margin: auto;
}

.categcontainer p {
  text-align: center;
  display: block;
  font-size: 1.5em;
  color: colors.$main1;
}

.categcontainer div {
  display: flex;
  justify-content: space-between;
}

.articlecontainer {
  padding: 2em;
  border-radius: 2em;
  background-color: colors.$main3;
}

.categcontainer button {
  border-radius: 20%;
}