@use 'colors';

.articles {
    display: grid;
    width: 70vw;
    margin: auto;
}

.article {
    border-radius: 2em;
    background-color: colors.$main1;
    margin: 1em 0;
    padding: 1em;
}

.article::before {
    position: absolute;
    box-shadow: 0 0 8px 8px colors.$main2 inset;
}

.article_username {
    float: right;
}

.categcontainer {
    width: 100%;
    margin: auto;
}

.categcontainer p {
    text-align: center;
    display: block;
    font-size: 1.5em;
    color: colors.$main1;
}
.categcontainer div {
    display: flex;
    justify-content: space-between;
}

.categcontainer div button {
    font-size: 2.5em;
    font-family: 'Sono', sans-serif;
    background-color: colors.$main1;
    color: colors.$main2;
}