@use 'colors';

form {
  padding: 2em;
}

.articlelabel span {
  display: block;
  font-size: 1.5em;
  color: colors.$main1;
}

.articleinput textarea {
  resize: none;
  border: none;
  width: 100%;
  font-size: 2em;
  height: 4em;
  background-color: colors.$main1;
  color: colors.$main2;

}

.articlecategory select {
  font-size: 2.5em;
  font-family: 'Sono', sans-serif;
  background-color: colors.$main1;
  color: colors.$main2;
}

.postarticlesubmit {
  font-size: 2.5em;
  font-family: 'Sono', sans-serif;
  background-color: colors.$main1;
  color: colors.$main2;
}